# Python basics
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Venvs
.venv/

# Expermentations
.ipynb_checkpoints/
experiments/
imgs/
test.py
test*.ipynb
test_ingestioon.ipynb
test_pool.ipynb
example*.ipynb

# OS
.vscode/

# Data
/data/raw/*
/data/processed/*
/data/external/*
/data/original/*

#Internal Documentation
docs_internal/

# Allows DVC Tracking
!/data/**/*.dvc
!/dvc.yaml

#MLflow
mlruns/
mlartifacts/

#Secrets & credentials
.env
.env.*
*.key
*.pem

#Docker runtime
docker-volumes/
postgres-data/

#Logs
*.log
logs/
tmp/


#Some files
.gitignore
.cache.sqlite
*.ckpt


artifacts/